@import "_functions";
@import "_mixins";
@import "_variables";

.page-with-lb {

  .hb-location-checkbox-wrapper {
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--ylb-color-white);
    color: inherit;
    display: flex;
    font-size: 18px;
    gap: 20px;
    height: 52px;
    line-height: 22px;
    padding: 14px 54px 14px 20px;
    text-transform: capitalize;

    label {
      font-size: 18px;
      font-family: var(--ylb-font-family-cachet);
      line-height: 22px;
      padding: 0;
      text-transform: none;

      &:before {
        display: none;
      }

      &:after {
        content: '';
        background-image: url('../svg/add_circle_white.svg');
        background-repeat: no-repeat;
        border: none;
        color: var(--ylb-color-white);
        display: inline-block;
        height: 40px;
        left: auto;
        margin-left: 5px;
        right: -50px;
        top: -9px;
        transform: none;
        width: 40px;
      }
    }
  }

  .hb-branch-selector {
    min-height: unset;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
    margin: 20px 0;

    @include media-breakpoint-up('md') {
      flex-direction: row;
      margin: 0;
      align-items: center;
    }

    .hb-branch-selector-change-wrapper {

      a {
        color: var(--ylb-color-white);
        font-size: 18px;
        font-family: var(--ylb-font-family-verdana) !important;
        line-height: 24px;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.hb-branch-selector--selected {
      .hb-location-checkbox-wrapper {
        label {
          &:after {
            content: '';
            background-image: url('../svg/check_circle.svg');
            background-repeat: no-repeat;
            display: inline-block;
            height: 40px;
            right: -54px;
            top: -5px;
            width: 40px;
          }
        }
      }
    }
  }
}
