@import "_functions";
@import "_mixins";
@import "_variables";

.block-inline-blocklb-openy-map {

  &.block.ws-button-fill--filled--component {
    .hb-location-checkbox-wrapper {
      background-color: var(--wsPartnerColor, black);
      color: var(--ylb-color-white, white);
      border: 2px solid transparent;

      label:after {
        background-color: var(--ylb-color-white, white);
      }

      &:hover {
        background-color: var(--ylb-color-white, white);
        color: var(--wsPartnerColor, black);
        border-color: var(--wsPartnerColor, black);

        label:after {
          background-color: var(--wsPartnerColor, black);
        }
      }
    }
  }

  &.block.ws-button-fill--outlined--component .hb-location-checkbox-wrapper, .hb-location-checkbox-wrapper {
    border: 2px solid var(--wsPartnerColor, black);
    background-color: var(--ylb-color-white, white);
    color: var(--wsPartnerColor, black);

    label:after {
      background-color: var(--wsPartnerColor, black);
    }
    &:hover {
      background-color: var(--wsPartnerColor, black);
      color: var(--ylb-color-white, white);
      border-color: transparent;

      label:after {
        background-color: var(--ylb-color-white, white);
      }
    }
  }

  .hb-location-checkbox-wrapper {
    label {
      color: inherit;

      &:after {
        top: 2px;
        background: var(--wsPartnerColor, black);
        mask: url("../svg/add_circle_colorway.svg") no-repeat left;

        @include media-breakpoint-between(md, lg) {
          top: 0;
        }

        @include media-breakpoint-down(md) {
          top: -9px;
        }
      }
    }
  }

  .hb-selected {
    .hb-location-checkbox-wrapper {
      background-color: var(--wsPrimaryColor, blue);

      label {
        color: var(--ylb-color-white);

        &:after {
          right: -54px;
          top: 2px;
          background: var(--y-color-white);
          mask: url("../svg/check_circle.svg") no-repeat left;

          @include media-breakpoint-between(md, lg) {
            top: 0;
          }

          @include media-breakpoint-down(md) {
            top: -9px;
          }
        }
      }
    }
  }

  .card {
    @include media-breakpoint-up(lg) {
      //min-height: 450px;
    }

    .node__content {
      .hours {
        min-height: 54px;
      }
    }

    &-footer {
      display: flex;
      justify-content: center;
      min-height: 80px;
    }
  }
}

.layout-container.ws-button-fill--filled--global {
  .hb-location-checkbox-wrapper {
    background-color: var(--wsPartnerColor, black);
    color: var(--ylb-color-white, white);
    border: 2px solid transparent;

    label:after {
      background-color: var(--ylb-color-white, white);
    }

    &:hover {
      background-color: var(--ylb-color-white, white);
      color: var(--wsPartnerColor, black);
      border-color: var(--wsPartnerColor, black);

      label:after {
        background-color: var(--wsPartnerColor, black);
      }
    }
  }
}

.layout-container.ws-button-fill--outlined--global {
  .hb-location-checkbox-wrapper {
    border: 2px solid var(--wsPartnerColor, black);
    background-color: var(--ylb-color-white, white);
    color: var(--wsPartnerColor, black);

    &:hover {
      background-color: var(--wsPartnerColor, black);
      color: var(--ylb-color-white, white);
      border-color: transparent;

      label:after {
        background-color: var(--ylb-color-white, white);
      }
    }
  }
}
